*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
      font-size:62.5%;                                           
}


body{
    font-size:1.6rem;
    background-color:black;
    height: 100vh;

}

.top-nav{ 
    height:5rem;
    background: linear-gradient(to right, #de26aa 60% , #fa84d9);
    display: flex;
    flex-direction : row;
    justify-content: space-between;  
    color:#fff;
    align-items:center;
    padding: 1em;
    
}


.logo{
    font-size: 1em;
    letter-spacing: 1px;
    
}

#toggler {
    display: none;
}   

.burger{
    display: none;
    position:relative;
    width: 48px;
    height: 48px;
    border-radius: 3px;
    cursor: pointer;
     flex-direction:row;
    justify-content: center;
    align-items : center; 
}

.bun{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 9px;
    left: 9px;
    transition: transform .18s cubic-bezier(0.04, 0.04, 0.12, 0.96) .15s;
}

.bun-crust{
    position: absolute;
    display: block;
    width: 17px;
    height: 1px;
    background-color: #fff;
    border-radius: 1px;
    left: 7px;
    transition: transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84), 0.2;
}

.bun__crust-top{
    top:14px;
    transform: translateY(-3px);
}

.bun__crust-bottom{
    bottom:14px;
    transform: translateY(3px);
}


#toggler:checked+.burger .bun-top{
    transform: rotate(45deg);
}


#toggler:checked+.burger .bun-bottom{
    transform: rotate(-45deg);
}

#toggler:checked+.burger .bun__crust-top,
#toggler:checked+.burger .bun__crust-bottom
{
    
    transform: none;
    transition: transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
} 

 .list{
    list-style:none;
    display:flex;
    flex-direction:row; 
    
}

.list-item{
    margin : 0 1rem;
    overflow:hidden; 
}

.link{
    text-decoration: none;
    color:#fff;
} 

@media screen and (max-width:700px){
    .burger{
        display:flex;
    }

    .list {
         position: absolute;
         top:10 px; 
         margin-top:5rem;
         left:1px;
         flex-direction: column;
         width: 100%;
         justify-content: center;
         align-items: center;
    }

    #toggler ~ .list li {
        height:0;
        margin:0;
        padding:0;
        border:0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.320, 1);

    }
    #toggler:checked ~.list li{
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition : height 400ms cubic-bezier(0.23, 1, 0.320, 1);
    }
    .list> li {
        display:flex;
        justify-content: center;
        margin:0;
        padding: 0.5em 0;
        width: 100%;
        color:white;
        background-color: #222;
    }
    
}
